body {
    margin-left: 10em;
    margin-right: 10em;
    font-size: 20px;
    line-height: 1.5;;
    }
#chocolate {
    height: auto;
    width: 45%;
    }
#divider {
    height: auto;
    width: 100%;
}
header {
    display:grid;
    grid-template-columns: 80% 20% ;
    }
label {
    display: flex;
    flex-direction: row;
    }

li {
    list-style: none;
}
#title {
    display:grid;
    grid-template-columns: 90% 10%;
}
#logo {
    display: grid;
    grid-template-columns: 50px auto;
    }
#fork-and-knife {
    grid-row: 1 / span 2;
    }
#choco-pizza {
    width: 100%;
    height: auto;
    position: relative;

}


#recipe {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#list-img {
    width: 100%;
    height: auto;
}

#list-1 {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 25px;
}

#ul-1 {
    display: flex;
    flex-direction: column;
    line-height: 34px;
}
#list-2 {
    position: absolute;
    font-size: 25px;
    right: 50px;
    top: 12px;
    line-height: 34px;
    }
#bio {
    display: grid;
    display: flex;
    align-items: center;
    grid-template-columns: 10% auto 16%;
    margin: 10px;
    justify-content: space-between;
    }
div > p{
    margin: 0;
    padding:0;
}
#name {
    font-size: 1.25em;
    font-weight: 700;
}
#button {
    box-shadow:inset 0px -2px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    width: 100%;
    
    margin-right: 0;
    }
#Button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
    }
#Button:active {
    position:relative;
    top:1px;
    }

footer {
    display: flex;
   align-items: center;
   flex-direction: column;
}

footer > p {
    margin: 0;
    font-size: 12px;
    color: gray;
}

#name-div{
    margin-left: 20px;
}
    
#printer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#printer > label {
    font-size: 10px;
    color: gray;
    margin: 5px;
}

#text > p {
    text-indent: 40px;
}