body {
    margin-left: 2rem;
    margin-right: 50px;
    font-size: 20px;
    line-height: 1.5;;
    }
nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 1.5rem;
}
#chocolate {
    height: auto;
    width: 45%;
    }
#delicious {
    height: auto;
    width: 60%;

}
#divider {
    margin: 10px;
    height: auto;
    width: 100%;
}
header {
    display:grid;
    grid-template-columns: 30% 70% ;
    }

label {
    display: flex;
    flex-direction: row;
    font-size: 8px ;
    }

li {
    list-style: none;
}
#title {
    display:grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 10px;
}
#logo {
    display: grid;
    grid-template-columns: 50px auto;
    height: 50px;
    }
#fork-and-knife {
    grid-row: 1 / span 2;
    margin-left: 10px;
    }
#choco-pizza {
    width: 100%;
    height: auto;
    position: relative;

}

nav > img {
    margin: 1px;
}

#recipe {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#list-img {
    width: 100%;
    height: auto;
    position: relative;
    min-width: 600px;
}

#ul-1 {
    flex-direction: column;
    line-height: 34px;
}
#ul-2 {
    flex-direction: column;
    line-height: 34px;
}
#list-1 {
    position: absolute;
    font-size: 1.5rem;
    top: 12px;
    line-height: 34px;
    margin: 1rem;
    }

#list-2 {
    position: absolute;
    font-size: 1.5rem;
    right: 50px;
    top: 12px;
    line-height: 34px;
    margin: 1rem;
    }
#bio {
    display: grid;
    display: flex;
    align-items: center;
    grid-template-columns: 10% auto 16%;
    margin: 10px;
    justify-content: space-evenly;
    }
div > p{
    margin: 0;
    padding:0;
}
#name {
    font-size: 1.25em;
    font-weight: 700;
}
#button {
    box-shadow:inset 0px -2px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    width: 100%;
    
    margin-right: 0;
    }
#Button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
    }
#Button:active {
    position:relative;
    top:1px;
    }

footer {
    display: flex;
   align-items: center;
   flex-direction: column;
    }
footer > p {
    margin: 0;
    font-size: 12px;
    color: gray;
    }
#name-div{
    margin-left: 20px;
    } 
#printer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    }

#printer > label {
    font-size: 10px;
    color: gray;
    margin: 5px;
}

#text > p {
    text-indent: 40px;
}

#posted {
    font-size: .75rem;
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
}